.movieContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1000px;
    margin: 40px auto;
}

.addMovie {
    max-width: 1000px;
    margin: 40px auto;
}